<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">{{link-item title='Steam' color='blue-grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>
  <div class="grid-item">{{link-item title='reddit' color='yellow'}}</div>
  <div class="grid-item">{{link-item title='Steam' color='purple'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='niebezpiecznik' color='red'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='CNN' color='blue'}}</div>
  <div class="grid-item">{{link-item title='The Guardian' color='grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>
  <div class="grid-item">{{link-item title='Steam' color='blue-grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>
  <div class="grid-item">{{link-item title='reddit' color='yellow'}}</div>
  <div class="grid-item">{{link-item title='Steam' color='purple'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='niebezpiecznik' color='red'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='CNN' color='blue'}}</div>
  <div class="grid-item">{{link-item title='The Guardian' color='grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>
  <div class="grid-item">{{link-item title='Steam' color='blue-grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>
  <div class="grid-item">{{link-item title='reddit' color='yellow'}}</div>
  <div class="grid-item">{{link-item title='Steam' color='purple'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='niebezpiecznik' color='red'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='CNN' color='blue'}}</div>
  <div class="grid-item">{{link-item title='The Guardian' color='grey'}}</div>
  <div class="grid-item grid-item--width2">{{link-item title='facebook' color='green'}}</div>

</div>
