{{top-bar}}

<div class="sidebar">
  {{show-sidebar name="left-sidebar"}}
</div>
{{avatar-img}}
<div class="main-content">

<div class="grid">
  {{!-- pass the entire link store to the grid component --}}
  {{link-list-grid links=model.links}}
</div>

{{floating-action-button}}

</div>
{{outlet}}
{{in-sidebar name="left-sidebar" show=(component "left-sidebar" model=model)}}

