{{top-bar logout="logout"}}

<div class="sidebar">
  {{show-sidebar name="left-sidebar"}}
</div>
<div class="main-content">

<div id="links-grid" class="grid">
  {{!-- pass the entire link store to the grid component --}}
  {{link-list-grid links=model.links submitLink="submitLink"}}
</div>

{{floating-action-button}}

</div>
{{outlet}}
{{in-sidebar name="left-sidebar" show=(component "left-sidebar" model=model)}}
{{add-link-modal categories=model.categories}}
